<!-- Because we are using Django's templates functionalty,
I've created this(base.html) main template
In short, all stuff that you will write here, will appear in any HTML file
As an example, I've made an menu to navigating through the website-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IMIO</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>


  <div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">IMIO</a>
      <!-- Tabs -->
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="task1-tab" data-toggle="tab" href="#task1" role="tab" aria-controls="task1" aria-selected="true">Task 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="task2-tab" data-toggle="tab" href="#task2" role="tab" aria-controls="task2" aria-selected="false">Task 2</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
        </li>
      </ul>
    </nav>
  
    <!-- Tab Content -->
    <div class="tab-content" id="nav-tabContent">
      <!-- Task 1 Content -->
      <div class="tab-pane fade show active" id="task1" role="tabpanel" aria-labelledby="task1-tab">
        <div class="d-flex flex-row justify-content-start">
          <a class="p-2" href="{% url 'materials_crud' %}">Explore data</a>
          <a class="p-2" href="{% url 'materials_calculate' %}">Calculations</a>
          <a class="p-2" href="{% url 'show_all_results' %}">Results</a>
        </div>
      </div>
      <!-- Task 2 Content -->
      <div class="tab-pane fade" id="task2" role="tabpanel" aria-labelledby="task2-tab">
        <div class="d-flex flex-row justify-content-start">
          <a class="p-2" href="{% url 'metals_crud' %}">Explore metals</a>
          <a class="p-2" href="{% url 'metal_calculations' %}">Metal calculations</a>
          <a class="p-2" href="{% url 'metal_results' %}">Metal Results</a>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      var lastTab = localStorage.getItem('lastTab');
      if (lastTab) {
        $('#' + lastTab).tab('show');
      }
  
      $('.nav-tabs .nav-link').on('click', function() {
        var id = $(this).attr('id');
        localStorage.setItem('lastTab', id);
      });
    });
  </script>
  
  </body>
  </html>
{% block content %}

<!-- And unique content of every HTML, should be inside this "block content"-->

{% endblock content %}
